################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimaryConstructorDemo/.vs/PrimaryConstructorDemo/CopilotIndices/17.14.995.13737
/PrimaryConstructorDemo/.vs/PrimaryConstructorDemo/FileContentIndex
/.vs
/PrimaryConstructorDemo/.vs/PrimaryConstructorDemo/DesignTimeBuild
